Let's build a simple simulation of Hollywood: each actor would have scores on talent and appearance sampled independently from standard normal distribution. Generate the scores using the following code:

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts
np.random.seed(0)
actors = pd.DataFrame({'talent': sts.norm(loc=0, scale=1).rvs(size=1000),
                       'looks': sts.norm(loc=0, scale=1).rvs(size=1000)})

Calculate Pearson's correlation coefficient between looks and talent. What is it equal to? Round the answer to 6 decimal points.

In [2]:
actors

       talent     looks
0    1.764052  0.555963
1    0.400157  0.892474
2    0.978738 -0.422315
3    2.240893  0.104714
4    1.867558  0.228053
..        ...       ...
995  0.412871  0.097751
996 -0.198399  1.401523
997  0.094192  0.158434
998 -1.147611 -1.141901
999 -0.358114 -1.310970

[1000 rows x 2 columns]

In [3]:
actors.corr(method='pearson')

          talent     looks
talent  1.000000 -0.031508
looks  -0.031508  1.000000

There are too many actors on Hollywood! Only the most talented or the most good looking would get into movies. Let's assume only actors who are either in 10% of the most talented of 10% of the most good looking in our sample would get roles. How many actors would get roles?

In [4]:
talent = list(actors.talent.nlargest(100).index)
looks = list(actors.looks.nlargest(100).index)
talent += looks
new_actors = actors[actors.index.isin(talent)]
len(new_actors)

185

Calculate Pearson's correlation coefficient between looks and talent for actors who have roles. What is it equal to? Round the answer to 6 decimal points.

In [5]:
new_actors.corr(method='pearson')

          talent     looks
talent  1.000000 -0.626607
looks  -0.626607  1.000000

Conditioning on whether an actor has roles turned correlation between talent and looks from effectively 0 to a large negative value, because we conditioned on a collider