In [1]:
import numpy as np
import pandas as pd
import scipy as sc
import itertools

from statsmodels.stats.descriptivestats import sign_test
from statsmodels.stats.weightstats import zconfint

%pylab inline

Populating the interactive namespace from numpy and matplotlib

Verizon is the primary local telephone company (incumbent local exchange carrier (ILEC)) for a large area of the Eastern United States. As such, it is responsible for providing repair service for the customers of other telephone companies known as competing local exchange carriers (CLECs) in this region. The New York Public Utilities Commission (PUC) monitored fairness by comparing repair times for Verizon and different CLECs, for different classes of repairs and time periods. In each case a hypothesis test was performed at the 1% significance level, to determine whether repairs for CLEC’s customers were significantly slower than for Verizon’s customers. There were hundreds of such tests. If substantially more than 1% of the tests were significant, then Verizon would pay large penalties. 

The following data set contains a sample of repair times for one combination of CLEC, class of service, and period; there are for 1664 ILEC and 23 CLEC customers.

Calculate the difference in mean repair times for ILEC and CLEC customers. Provide the answer rounded with 1 decimal point.

In [2]:
verizon_data = pd.read_csv('verizon.txt', sep='\t')
verizon_data

       Time Group
0     17.50  ILEC
1      2.40  ILEC
2      0.00  ILEC
3      0.65  ILEC
4     22.23  ILEC
...     ...   ...
1682  22.13  CLEC
1683  18.57  CLEC
1684  20.00  CLEC
1685  14.13  CLEC
1686   5.80  CLEC

[1687 rows x 2 columns]

In [3]:
ILEC = verizon_data[verizon_data['Group']  == 'ILEC']
CLEC = verizon_data[verizon_data['Group']  == 'CLEC']
np.abs(np.mean(ILEC) - np.mean(CLEC))

/home/matu/.local/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/home/matu/.local/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3472: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

Time    8.09752
dtype: float64

Let's start by testing the hypothesis that average repair time for CLEC customers is 8 hours or less against the alternative that it's greater than 8 hours. Use sign test, provide the p-value rounded to 4 decimal points.

In [4]:
CLEC_gt_8 = CLEC[CLEC.Time > 8].count()
CLEC_not_gt_8 = CLEC[CLEC.Time <= 8].count()
print("Sign test:", sign_test(CLEC.Time, mu0=8)[1]/2)

Sign test: 0.10501980781555176

Now let's compare averages in two samples! Use t-test to test the hypothesis of equal means against the alternative that mean repair time for CLEC customers is higher. Provide the p-value rounded to 4 decimal points.

In [5]:
print('T test:', sc.stats.ttest_ind(ILEC.Time, CLEC.Time, equal_var = False))
0.05974612141475864 / 2

T test: Ttest_indResult(statistic=-1.9833785404229538, pvalue=0.05974612141475864)

0.02987306070737932

Moving on to the rank test for equal averages. Calculate the p-value, round the answer to 5 decimal points.

In [6]:
print("Mann-Whitney test:", sc.stats.mannwhitneyu(ILEC.Time.values, CLEC.Time.values)[1]/2)

Mann-Whitney test: 0.00045651384433380884

Great, let's proceed to the permutation test with the difference of sample means as a statistic. What is it's p-value? Round the answer to 4 decimal points.

The sample is too big to go through all the permutation – let's use 10000 of them. To get the same result as us, use the functions from the example notebook, and set random seed = 0 before calling permutation_test_2s function.

In [7]:
def permutation_t_stat_2s(sample1, sample2):
    return np.mean(sample1) - np.mean(sample2)

def get_random_combinations(n1, n2, max_permutations):
    index = np.array(range(n1 + n2))
    indices = set([tuple(index)])
    for i in range(max_permutations - 1):
        np.random.shuffle(index)
        indices.add(tuple(index))
    return [(index[:n1], index[n1:]) for index in indices]

def permutation_null_dist_2s(sample1, sample2, max_permutations = None):
    pooled_sample = np.hstack((sample1, sample2))
    n1 = len(sample1)
    n2 = len(sample2)
    n = n1 + n2
    
    if max_permutations:
        indices = get_random_combinations(n1, n2, max_permutations)
    else:
        indices = [(list(index), filter(lambda i: i not in index, range(n))) \
                    for index in itertools.combinations(range(n), n1)]
    
    distr = [permutation_t_stat_2s(pooled_sample[list(i[0])], pooled_sample[list(i[1])]) \
             for i in indices]
    return distr

def permutation_test_2s(sample1, sample2, max_permutations = None, alternative = 'two-sided', return_distr = False):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    t_stat = permutation_t_stat_2s(sample1, sample2)
    
    null_distr = permutation_null_dist_2s(sample1, sample2, max_permutations)
    
    if alternative == 'two-sided':
        p = sum([1. if abs(x) >= abs(t_stat) else 0. for x in null_distr]) / len(null_distr)
    elif alternative == 'less':
        p = sum([1. if x <= t_stat else 0. for x in null_distr]) / len(null_distr)
    else: # alternative == 'greater':
        p = sum([1. if x >= t_stat else 0. for x in null_distr]) / len(null_distr)
    
    if return_distr:
        return {'t': t_stat, 'p': p, 'null_distr': null_distr}
    else:
        return {'t': t_stat, 'p': p}
    
np.random.seed(0)
res = permutation_test_2s(CLEC.Time, ILEC.Time, max_permutations = 10000, alternative='greater')
res

{'t': 8.097519857859533, 'p': 0.0179}